<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shreyash Porto</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/unicons.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">


    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="../static/css/tooplate-style.css">
  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand"><i class='uil uil-user'></i> Porto</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="{{url_for('index')}}" class="nav-link"><span data-hover="Goback">Home</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Dark mode
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
                
      <div class="row">
        <div class="col-lg-11 text-center mx-auto col-12">
    <div class="col-lg-8 mx-auto">
      <br>
    <h2>404 Error?</h2>
    </div>
    </div>
    </div>
    </div>
    <br>
   
    <div class="text-center">
  
      <p class="font-weight-light">Landed on no-mans land..</p>
    <br>
  </div>

    <div class="container">
      <div class="row">
        <div class="container">
      <div class="row">
      <a  class="intro-banner-vdo-play-btn pinkBg" target="_blank">
    <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
    <span class="ripple pinkBg"></span>
    <span class="ripple pinkBg"></span>
    <span class="ripple pinkBg"></span>
    </a>
      </div>
    </div>
    
    </div>
    </div>
    <div class="text-center">
      <div class="custom-btn-group mt-4">
      <a href="{{ url_for('index') }}" class="btn custom-btn custom-btn-bg custom-btn-link">Go Back</a><br><br> 
      </div></div>


    <script src="../static/js/custom.js"></script>